@import '../../styles/variables.scss';

.positions {
  position: fixed;
  inset: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .positionContainer {
    width: 1060px;

    .positionSearch {
      font-size: 30px;
    }

    .positionList {
      margin-top: 20px;
    }
  }
  .cardListDiv {
    width: 100%;
    height: 100%;
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    align-items: center;

    .cardListStyle {
      width: 1060px;

      .cardList {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
