@import '../../styles/variables.scss';

.positions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;

  .positionContainer {
    width: 1060px;

    .positionSearch {
      font-size: 30px;
    }

    .positionList {
      margin-top: 20px;
    }
  }
  .cardListDiv {
    width: 100%;
    height: 100%;
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    align-items: center;

    .cardListStyle {
      width: 1060px;
      border-top: 1px solid black;

      .cardList {
        display: flex;
        flex-wrap: wrap;
      }
    }

    .cardListDivBtnStyle {
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      justify-content: flex-end;

      button {
        border: 0px;

        &:hover {
          color: red;
          cursor: pointer;
        }
      }
    }
  }
}
