@import '../styles/variables.scss';

.cardContainer {
  width: 250px;
  height: 317px;
  margin: 5px;

  .cardImg {
    width: 250px;
    height: 166px;
  }
  .cardInfo {
    height: 151px;
    padding: 12px 0 36px 0;

    gap: 8px;
    display: flex;
    flex-direction: column;
    .cardWanted {
      gap: 5px;
      display: flex;
      flex-direction: column;
    }
    .cardCompany {
      gap: 5px;
      display: flex;
      flex-direction: column;

      .cardValue {
        gap: 5px;
        display: flex;
      }
    }
  }
}
