@import '../styles/variables.scss';

.cardContainer {
  width: 250px;
  height: 317px;
  margin: 5px;

  .cardImg {
    width: 250px;
    height: 166px;
  }
  .cardInfo {
    height: 151px;
    padding: 12px 0 36px 0;
    gap: 8px;
    display: flex;
    flex-direction: column;

    .cardWanted {
      gap: 5px;
      display: flex;
      flex-direction: column;
      .companyName {
        font-size: 14px;
        color: #444444;
      }
      .title {
        font-size: 17px;
        font-weight: 500;
        color: #000000;
      }
    }
    .cardCompany {
      gap: 5px;
      display: flex;
      flex-direction: column;

      .cardValue {
        gap: 5px;
        display: flex;

        .workArea {
          font-size: 13px;
          color: #999999;
        }
        .career {
          font-size: 13px;
          color: #999999;
        }
      }
    }
  }
}
